[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-DotEnv = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
WTForms = "*"
phonenumbers = "*"
authy = "*"


[dev-packages]

pre_commit = "*"
"flake8" = "*"
